---
http_interactions:
- request:
    method: get
    uri: https://api-eu.hosted.exlibrisgroup.com/almaws/v1/bibs/incorrect_mms_id?apikey=l7xxe0a2a71a893845f3a0efb71980656422&expand=p_avail,e_avail,d_avail&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Exl-Api-Remaining:
      - '199950'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"errorsExist":true,"errorList":{"error":[{"errorCode":"402203","errorMessage":"Input
        parameters mmsId incorrect_mms_id is not valid.","trackingId":"E02-2205163526-QM2UH-AWAE2127826967"}]},"result":null}'
  recorded_at: Mon, 22 May 2017 16:35:26 GMT
recorded_with: VCR 3.0.3
