---
http_interactions:
- request:
    method: get
    uri: https://api-eu.hosted.exlibrisgroup.com/almaws/v1/bibs//loans?apikey=l7xxe0a2a71a893845f3a0efb71980656422&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Exl-Api-Remaining:
      - '199945'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"web_service_result":{"errorsExist":true,"errorList":{"error":{"errorCode":"NOT_FOUND","errorMessage":"","trackingId":"unknown"}}}}'
  recorded_at: Mon, 22 May 2017 16:36:51 GMT
recorded_with: VCR 3.0.3
